langchain==0.1.20
langchain-core==0.1.53
langchain-community==0.0.38
langchain-mineru==0.0.1
langchain-openai==0.1.7
langchain-qdrant==0.1.4
langchain-text-splitters==0.0.2
qdrant-client==1.9.1
tenacity==8.2.3
requests==2.32.3
python-dotenv==1.0.1
fastapi==0.110.3
uvicorn[standard]==0.29.0
python-multipart==0.0.9
filelock==3.15.4